LANGCHAIN_API_KEY=your_langchain_api_key
LANGGRAPH_API_URL=your_langgraph_api_url
NEXT_PUBLIC_LANGGRAPH_API_URL=http://127.0.0.1:3000/api
NEXT_PUBLIC_LANGGRAPH_ASSISTANT_ID=assistant
NEXT_PUBLIC_LANGGRAPH_ADMIN_ID=rag_admin
NEXT_PUBLIC_LANGGRAPH_INGEST_ID=rag_ingest
NEXT_PUBLIC_LANGGRAPH_DELETE_ID=rag_delete
NEXT_PUBLIC_LANGGRAPH_REINDEX_ID=rag_reindex
